=begin
#PAY.JP API v2

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module PAYJPv2
  class BalancesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Balance Url
    # @param balance_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [BalanceURLResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def create_balance_url(balance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BalancesApi.create_balance_url ...'
      end
      # verify the required parameter 'balance_id' is set
      if @api_client.config.client_side_validation && balance_id.nil?
        raise ArgumentError, "Missing the required parameter 'balance_id' when calling BalancesApi.create_balance_url"
      end
      # resource path
      local_var_path = '/v2/balances/{balance_id}/balance_urls'.sub('{' + 'balance_id' + '}', CGI.escape(balance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BalanceURLResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"BalancesApi.create_balance_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BalancesApi#create_balance_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end

    # Get All Balances
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :since 指定した日付以降のデータを取得
    # @option opts [Time] :_until 指定した日付以前のデータを取得
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @option opts [BalanceState] :state state が指定した値であるオブジェクトに限定
    # @option opts [Boolean] :closed closed が指定した値であるオブジェクトに限定
    # @option opts [Time] :since_due_date 入金予定日/振込期限日が指定した日時以降のデータのみ取得
    # @option opts [Time] :until_due_date 入金予定日/振込期限日が指定した日時以前のデータのみ取得
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [BalanceListResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def get_all_balances(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BalancesApi.get_all_balances ...'
      end
      if @api_client.config.client_side_validation && !opts[:limit].nil? && opts[:limit] > 100
        raise ArgumentError, 'invalid value for "opts[:limit]" when calling BalancesApi.get_all_balances, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:limit].nil? && opts[:limit] < 1
        raise ArgumentError, 'invalid value for "opts[:limit]" when calling BalancesApi.get_all_balances, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/balances'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:since] = opts[:since] if !opts[:since].nil?
      query_params[:until] = opts[:_until] if !opts[:_until].nil?
      query_params[:limit] = opts[:limit] if !opts[:limit].nil?
      query_params[:starting_after] = opts[:starting_after] if !opts[:starting_after].nil?
      query_params[:ending_before] = opts[:ending_before] if !opts[:ending_before].nil?
      query_params[:state] = opts[:state] if !opts[:state].nil?
      query_params[:closed] = opts[:closed] if !opts[:closed].nil?
      query_params[:since_due_date] = opts[:since_due_date] if !opts[:since_due_date].nil?
      query_params[:until_due_date] = opts[:until_due_date] if !opts[:until_due_date].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BalanceListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"BalancesApi.get_all_balances",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BalancesApi#get_all_balances\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end

    # Get Balance
    # @param balance_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [BalanceResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def get_balance(balance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BalancesApi.get_balance ...'
      end
      # verify the required parameter 'balance_id' is set
      if @api_client.config.client_side_validation && balance_id.nil?
        raise ArgumentError, "Missing the required parameter 'balance_id' when calling BalancesApi.get_balance"
      end
      # resource path
      local_var_path = '/v2/balances/{balance_id}'.sub('{' + 'balance_id' + '}', CGI.escape(balance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BalanceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"BalancesApi.get_balance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BalancesApi#get_balance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end
  end
end
