=begin
#PAY.JP v2 API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module PAYJPv2
  class CheckoutSessionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Checkout Session
    # @param checkout_session_create_request [CheckoutSessionCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CheckoutSessionDetailsResponse]
    def create_checkout_session(checkout_session_create_request, opts = {})
      data, _status_code, _headers = create_checkout_session_with_http_info(checkout_session_create_request, opts)
      data
    end

    # Create Checkout Session
    # @param checkout_session_create_request [CheckoutSessionCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckoutSessionDetailsResponse, Integer, Hash)>] CheckoutSessionDetailsResponse data, response status code and response headers
    def create_checkout_session_with_http_info(checkout_session_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutSessionsApi.create_checkout_session ...'
      end
      # verify the required parameter 'checkout_session_create_request' is set
      if @api_client.config.client_side_validation && checkout_session_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'checkout_session_create_request' when calling CheckoutSessionsApi.create_checkout_session"
      end
      # resource path
      local_var_path = '/v2/checkout/sessions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(checkout_session_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckoutSessionDetailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"CheckoutSessionsApi.create_checkout_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutSessionsApi#create_checkout_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get All Checkout Sessions
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @return [CheckoutSessionListResponse]
    def get_all_checkout_sessions(opts = {})
      data, _status_code, _headers = get_all_checkout_sessions_with_http_info(opts)
      data
    end

    # Get All Checkout Sessions
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @return [Array<(CheckoutSessionListResponse, Integer, Hash)>] CheckoutSessionListResponse data, response status code and response headers
    def get_all_checkout_sessions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutSessionsApi.get_all_checkout_sessions ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CheckoutSessionsApi.get_all_checkout_sessions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CheckoutSessionsApi.get_all_checkout_sessions, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/checkout/sessions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'starting_after'] = opts[:'starting_after'] if !opts[:'starting_after'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckoutSessionListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"CheckoutSessionsApi.get_all_checkout_sessions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutSessionsApi#get_all_checkout_sessions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Checkout Session
    # @param checkout_session_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand レスポンス返却時に展開したいオブジェクト名。指定したオブジェクトを同時に取得し、レスポンスに乗せて返却します。
    # @return [CheckoutSessionDetailsResponse]
    def get_checkout_session(checkout_session_id, opts = {})
      data, _status_code, _headers = get_checkout_session_with_http_info(checkout_session_id, opts)
      data
    end

    # Get Checkout Session
    # @param checkout_session_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand レスポンス返却時に展開したいオブジェクト名。指定したオブジェクトを同時に取得し、レスポンスに乗せて返却します。
    # @return [Array<(CheckoutSessionDetailsResponse, Integer, Hash)>] CheckoutSessionDetailsResponse data, response status code and response headers
    def get_checkout_session_with_http_info(checkout_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutSessionsApi.get_checkout_session ...'
      end
      # verify the required parameter 'checkout_session_id' is set
      if @api_client.config.client_side_validation && checkout_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'checkout_session_id' when calling CheckoutSessionsApi.get_checkout_session"
      end
      allowable_values = ["line_items", "customer", "payment_flow", "setup_flow"]
      if @api_client.config.client_side_validation && opts[:'expand'] && !opts[:'expand'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"expand\", must include one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v2/checkout/sessions/{checkout_session_id}'.sub('{' + 'checkout_session_id' + '}', CGI.escape(checkout_session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckoutSessionDetailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"CheckoutSessionsApi.get_checkout_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutSessionsApi#get_checkout_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Checkout Session
    # @param checkout_session_id [String] 
    # @param checkout_session_update_request [CheckoutSessionUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CheckoutSessionDetailsResponse]
    def update_checkout_session(checkout_session_id, checkout_session_update_request, opts = {})
      data, _status_code, _headers = update_checkout_session_with_http_info(checkout_session_id, checkout_session_update_request, opts)
      data
    end

    # Update Checkout Session
    # @param checkout_session_id [String] 
    # @param checkout_session_update_request [CheckoutSessionUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckoutSessionDetailsResponse, Integer, Hash)>] CheckoutSessionDetailsResponse data, response status code and response headers
    def update_checkout_session_with_http_info(checkout_session_id, checkout_session_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutSessionsApi.update_checkout_session ...'
      end
      # verify the required parameter 'checkout_session_id' is set
      if @api_client.config.client_side_validation && checkout_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'checkout_session_id' when calling CheckoutSessionsApi.update_checkout_session"
      end
      # verify the required parameter 'checkout_session_update_request' is set
      if @api_client.config.client_side_validation && checkout_session_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'checkout_session_update_request' when calling CheckoutSessionsApi.update_checkout_session"
      end
      # resource path
      local_var_path = '/v2/checkout/sessions/{checkout_session_id}'.sub('{' + 'checkout_session_id' + '}', CGI.escape(checkout_session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(checkout_session_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckoutSessionDetailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"CheckoutSessionsApi.update_checkout_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutSessionsApi#update_checkout_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
