=begin
#PAY.JP API v2

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module PAYJPv2
  class CheckoutSessionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Checkout Session
    # @param checkout_session_create_request [CheckoutSessionCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [CheckoutSessionDetailsResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def create_checkout_session(checkout_session_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutSessionsApi.create_checkout_session ...'
      end
      # verify the required parameter 'checkout_session_create_request' is set
      if @api_client.config.client_side_validation && checkout_session_create_request.nil?
        raise ArgumentError, "Missing the required parameter 'checkout_session_create_request' when calling CheckoutSessionsApi.create_checkout_session"
      end
      # resource path
      local_var_path = '/v2/checkout/sessions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(checkout_session_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckoutSessionDetailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"CheckoutSessionsApi.create_checkout_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutSessionsApi#create_checkout_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end

    # Get All Checkout Session Line Items
    # @param checkout_session_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [CheckoutSessionLineItemListResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def get_all_checkout_session_line_items(checkout_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutSessionsApi.get_all_checkout_session_line_items ...'
      end
      # verify the required parameter 'checkout_session_id' is set
      if @api_client.config.client_side_validation && checkout_session_id.nil?
        raise ArgumentError, "Missing the required parameter 'checkout_session_id' when calling CheckoutSessionsApi.get_all_checkout_session_line_items"
      end
      if @api_client.config.client_side_validation && !opts[:limit].nil? && opts[:limit] > 100
        raise ArgumentError, 'invalid value for "opts[:limit]" when calling CheckoutSessionsApi.get_all_checkout_session_line_items, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:limit].nil? && opts[:limit] < 1
        raise ArgumentError, 'invalid value for "opts[:limit]" when calling CheckoutSessionsApi.get_all_checkout_session_line_items, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/checkout/sessions/{checkout_session_id}/line_items'.sub('{' + 'checkout_session_id' + '}', CGI.escape(checkout_session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:limit] = opts[:limit] if !opts[:limit].nil?
      query_params[:starting_after] = opts[:starting_after] if !opts[:starting_after].nil?
      query_params[:ending_before] = opts[:ending_before] if !opts[:ending_before].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckoutSessionLineItemListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"CheckoutSessionsApi.get_all_checkout_session_line_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutSessionsApi#get_all_checkout_session_line_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end

    # Get All Checkout Sessions
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [CheckoutSessionListResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def get_all_checkout_sessions(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutSessionsApi.get_all_checkout_sessions ...'
      end
      if @api_client.config.client_side_validation && !opts[:limit].nil? && opts[:limit] > 100
        raise ArgumentError, 'invalid value for "opts[:limit]" when calling CheckoutSessionsApi.get_all_checkout_sessions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:limit].nil? && opts[:limit] < 1
        raise ArgumentError, 'invalid value for "opts[:limit]" when calling CheckoutSessionsApi.get_all_checkout_sessions, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/checkout/sessions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:limit] = opts[:limit] if !opts[:limit].nil?
      query_params[:starting_after] = opts[:starting_after] if !opts[:starting_after].nil?
      query_params[:ending_before] = opts[:ending_before] if !opts[:ending_before].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckoutSessionListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"CheckoutSessionsApi.get_all_checkout_sessions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutSessionsApi#get_all_checkout_sessions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end

    # Get Checkout Session
    # @param checkout_session_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [CheckoutSessionDetailsResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def get_checkout_session(checkout_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutSessionsApi.get_checkout_session ...'
      end
      # verify the required parameter 'checkout_session_id' is set
      if @api_client.config.client_side_validation && checkout_session_id.nil?
        raise ArgumentError, "Missing the required parameter 'checkout_session_id' when calling CheckoutSessionsApi.get_checkout_session"
      end
      # resource path
      local_var_path = '/v2/checkout/sessions/{checkout_session_id}'.sub('{' + 'checkout_session_id' + '}', CGI.escape(checkout_session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckoutSessionDetailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"CheckoutSessionsApi.get_checkout_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutSessionsApi#get_checkout_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end

    # Update Checkout Session
    # @param checkout_session_id [String] 
    # @param checkout_session_update_request [CheckoutSessionUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [CheckoutSessionDetailsResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def update_checkout_session(checkout_session_id, checkout_session_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutSessionsApi.update_checkout_session ...'
      end
      # verify the required parameter 'checkout_session_id' is set
      if @api_client.config.client_side_validation && checkout_session_id.nil?
        raise ArgumentError, "Missing the required parameter 'checkout_session_id' when calling CheckoutSessionsApi.update_checkout_session"
      end
      # verify the required parameter 'checkout_session_update_request' is set
      if @api_client.config.client_side_validation && checkout_session_update_request.nil?
        raise ArgumentError, "Missing the required parameter 'checkout_session_update_request' when calling CheckoutSessionsApi.update_checkout_session"
      end
      # resource path
      local_var_path = '/v2/checkout/sessions/{checkout_session_id}'.sub('{' + 'checkout_session_id' + '}', CGI.escape(checkout_session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(checkout_session_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckoutSessionDetailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"CheckoutSessionsApi.update_checkout_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutSessionsApi#update_checkout_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end
  end
end
