=begin
#PAY.JP v2 API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module PAYJPv2
  class PaymentMethodConfigurationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get All Payment Method Configurations
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @return [PaymentMethodConfigurationListResponse]
    def get_all_payment_method_configurations(opts = {})
      data, _status_code, _headers = get_all_payment_method_configurations_with_http_info(opts)
      data
    end

    # Get All Payment Method Configurations
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @return [Array<(PaymentMethodConfigurationListResponse, Integer, Hash)>] PaymentMethodConfigurationListResponse data, response status code and response headers
    def get_all_payment_method_configurations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodConfigurationsApi.get_all_payment_method_configurations ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PaymentMethodConfigurationsApi.get_all_payment_method_configurations, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PaymentMethodConfigurationsApi.get_all_payment_method_configurations, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/payment_method_configurations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'starting_after'] = opts[:'starting_after'] if !opts[:'starting_after'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentMethodConfigurationListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentMethodConfigurationsApi.get_all_payment_method_configurations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodConfigurationsApi#get_all_payment_method_configurations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Payment Method Configuration
    # @param payment_method_configuration_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentMethodConfigurationDetailsResponse]
    def get_payment_method_configuration(payment_method_configuration_id, opts = {})
      data, _status_code, _headers = get_payment_method_configuration_with_http_info(payment_method_configuration_id, opts)
      data
    end

    # Get Payment Method Configuration
    # @param payment_method_configuration_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentMethodConfigurationDetailsResponse, Integer, Hash)>] PaymentMethodConfigurationDetailsResponse data, response status code and response headers
    def get_payment_method_configuration_with_http_info(payment_method_configuration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodConfigurationsApi.get_payment_method_configuration ...'
      end
      # verify the required parameter 'payment_method_configuration_id' is set
      if @api_client.config.client_side_validation && payment_method_configuration_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_method_configuration_id' when calling PaymentMethodConfigurationsApi.get_payment_method_configuration"
      end
      # resource path
      local_var_path = '/v2/payment_method_configurations/{payment_method_configuration_id}'.sub('{' + 'payment_method_configuration_id' + '}', CGI.escape(payment_method_configuration_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentMethodConfigurationDetailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentMethodConfigurationsApi.get_payment_method_configuration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodConfigurationsApi#get_payment_method_configuration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Payment Method Configuration
    # @param payment_method_configuration_id [String] 
    # @param payment_method_configuration_update_request [PaymentMethodConfigurationUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentMethodConfigurationDetailsResponse]
    def update_payment_method_configuration(payment_method_configuration_id, payment_method_configuration_update_request, opts = {})
      data, _status_code, _headers = update_payment_method_configuration_with_http_info(payment_method_configuration_id, payment_method_configuration_update_request, opts)
      data
    end

    # Update Payment Method Configuration
    # @param payment_method_configuration_id [String] 
    # @param payment_method_configuration_update_request [PaymentMethodConfigurationUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentMethodConfigurationDetailsResponse, Integer, Hash)>] PaymentMethodConfigurationDetailsResponse data, response status code and response headers
    def update_payment_method_configuration_with_http_info(payment_method_configuration_id, payment_method_configuration_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodConfigurationsApi.update_payment_method_configuration ...'
      end
      # verify the required parameter 'payment_method_configuration_id' is set
      if @api_client.config.client_side_validation && payment_method_configuration_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_method_configuration_id' when calling PaymentMethodConfigurationsApi.update_payment_method_configuration"
      end
      # verify the required parameter 'payment_method_configuration_update_request' is set
      if @api_client.config.client_side_validation && payment_method_configuration_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'payment_method_configuration_update_request' when calling PaymentMethodConfigurationsApi.update_payment_method_configuration"
      end
      # resource path
      local_var_path = '/v2/payment_method_configurations/{payment_method_configuration_id}'.sub('{' + 'payment_method_configuration_id' + '}', CGI.escape(payment_method_configuration_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_method_configuration_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentMethodConfigurationDetailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentMethodConfigurationsApi.update_payment_method_configuration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodConfigurationsApi#update_payment_method_configuration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
