=begin
#PAY.JP v2 API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require 'cgi'

module PAYJPv2
  class PaymentIntentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel Payment Intent
    # @param payment_intent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PaymentIntentCancelRequest] :payment_intent_cancel_request 
    # @return [PaymentIntentResponse]
    def cancel_payment_intent(payment_intent_id, opts = {})
      data, _status_code, _headers = cancel_payment_intent_with_http_info(payment_intent_id, opts)
      data
    end

    # Cancel Payment Intent
    # @param payment_intent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PaymentIntentCancelRequest] :payment_intent_cancel_request 
    # @return [Array<(PaymentIntentResponse, Integer, Hash)>] PaymentIntentResponse data, response status code and response headers
    def cancel_payment_intent_with_http_info(payment_intent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentIntentsApi.cancel_payment_intent ...'
      end
      # verify the required parameter 'payment_intent_id' is set
      if @api_client.config.client_side_validation && payment_intent_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_intent_id' when calling PaymentIntentsApi.cancel_payment_intent"
      end
      # resource path
      local_var_path = '/v2/payment_intents/{payment_intent_id}/cancel'.sub('{' + 'payment_intent_id' + '}', CGI.escape(payment_intent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'payment_intent_cancel_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"PaymentIntentsApi.cancel_payment_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentIntentsApi#cancel_payment_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Capture Payment Intent
    # @param payment_intent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PaymentIntentCaptureRequest] :payment_intent_capture_request 
    # @return [PaymentIntentResponse]
    def capture_payment_intent(payment_intent_id, opts = {})
      data, _status_code, _headers = capture_payment_intent_with_http_info(payment_intent_id, opts)
      data
    end

    # Capture Payment Intent
    # @param payment_intent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PaymentIntentCaptureRequest] :payment_intent_capture_request 
    # @return [Array<(PaymentIntentResponse, Integer, Hash)>] PaymentIntentResponse data, response status code and response headers
    def capture_payment_intent_with_http_info(payment_intent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentIntentsApi.capture_payment_intent ...'
      end
      # verify the required parameter 'payment_intent_id' is set
      if @api_client.config.client_side_validation && payment_intent_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_intent_id' when calling PaymentIntentsApi.capture_payment_intent"
      end
      # resource path
      local_var_path = '/v2/payment_intents/{payment_intent_id}/capture'.sub('{' + 'payment_intent_id' + '}', CGI.escape(payment_intent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'payment_intent_capture_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"PaymentIntentsApi.capture_payment_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentIntentsApi#capture_payment_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Confirm Payment Intent
    # @param payment_intent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PaymentIntentConfirmRequest] :payment_intent_confirm_request 
    # @return [PaymentIntentResponse]
    def confirm_payment_intent(payment_intent_id, opts = {})
      data, _status_code, _headers = confirm_payment_intent_with_http_info(payment_intent_id, opts)
      data
    end

    # Confirm Payment Intent
    # @param payment_intent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PaymentIntentConfirmRequest] :payment_intent_confirm_request 
    # @return [Array<(PaymentIntentResponse, Integer, Hash)>] PaymentIntentResponse data, response status code and response headers
    def confirm_payment_intent_with_http_info(payment_intent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentIntentsApi.confirm_payment_intent ...'
      end
      # verify the required parameter 'payment_intent_id' is set
      if @api_client.config.client_side_validation && payment_intent_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_intent_id' when calling PaymentIntentsApi.confirm_payment_intent"
      end
      # resource path
      local_var_path = '/v2/payment_intents/{payment_intent_id}/confirm'.sub('{' + 'payment_intent_id' + '}', CGI.escape(payment_intent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'payment_intent_confirm_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"PaymentIntentsApi.confirm_payment_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentIntentsApi#confirm_payment_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Payment Intent
    # @param payment_intent_create_request [PaymentIntentCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentIntentResponse]
    def create_payment_intent(payment_intent_create_request, opts = {})
      data, _status_code, _headers = create_payment_intent_with_http_info(payment_intent_create_request, opts)
      data
    end

    # Create Payment Intent
    # @param payment_intent_create_request [PaymentIntentCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentIntentResponse, Integer, Hash)>] PaymentIntentResponse data, response status code and response headers
    def create_payment_intent_with_http_info(payment_intent_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentIntentsApi.create_payment_intent ...'
      end
      # verify the required parameter 'payment_intent_create_request' is set
      if @api_client.config.client_side_validation && payment_intent_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'payment_intent_create_request' when calling PaymentIntentsApi.create_payment_intent"
      end
      # resource path
      local_var_path = '/v2/payment_intents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_intent_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"PaymentIntentsApi.create_payment_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentIntentsApi#create_payment_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get All Payment Intent
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [Integer] :offset データ取得を行う開始位置 (default to 0)
    # @return [PaymentIntentListResponse]
    def get_all_payment_intent(opts = {})
      data, _status_code, _headers = get_all_payment_intent_with_http_info(opts)
      data
    end

    # Get All Payment Intent
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [Integer] :offset データ取得を行う開始位置 (default to 0)
    # @return [Array<(PaymentIntentListResponse, Integer, Hash)>] PaymentIntentListResponse data, response status code and response headers
    def get_all_payment_intent_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentIntentsApi.get_all_payment_intent ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PaymentIntentsApi.get_all_payment_intent, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PaymentIntentsApi.get_all_payment_intent, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling PaymentIntentsApi.get_all_payment_intent, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v2/payment_intents'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentIntentListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"PaymentIntentsApi.get_all_payment_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentIntentsApi#get_all_payment_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Increment Authorization Payment Intent
    # @param payment_intent_id [String] 
    # @param payment_intent_increment_authorization_request [PaymentIntentIncrementAuthorizationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentIntentResponse]
    def increment_authorization_payment_intent(payment_intent_id, payment_intent_increment_authorization_request, opts = {})
      data, _status_code, _headers = increment_authorization_payment_intent_with_http_info(payment_intent_id, payment_intent_increment_authorization_request, opts)
      data
    end

    # Increment Authorization Payment Intent
    # @param payment_intent_id [String] 
    # @param payment_intent_increment_authorization_request [PaymentIntentIncrementAuthorizationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentIntentResponse, Integer, Hash)>] PaymentIntentResponse data, response status code and response headers
    def increment_authorization_payment_intent_with_http_info(payment_intent_id, payment_intent_increment_authorization_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentIntentsApi.increment_authorization_payment_intent ...'
      end
      # verify the required parameter 'payment_intent_id' is set
      if @api_client.config.client_side_validation && payment_intent_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_intent_id' when calling PaymentIntentsApi.increment_authorization_payment_intent"
      end
      # verify the required parameter 'payment_intent_increment_authorization_request' is set
      if @api_client.config.client_side_validation && payment_intent_increment_authorization_request.nil?
        fail ArgumentError, "Missing the required parameter 'payment_intent_increment_authorization_request' when calling PaymentIntentsApi.increment_authorization_payment_intent"
      end
      # resource path
      local_var_path = '/v2/payment_intents/{payment_intent_id}/increment_authorization'.sub('{' + 'payment_intent_id' + '}', CGI.escape(payment_intent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_intent_increment_authorization_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"PaymentIntentsApi.increment_authorization_payment_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentIntentsApi#increment_authorization_payment_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Payment Intent
    # @param payment_intent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentIntentResponse]
    def retrieve_payment_intent(payment_intent_id, opts = {})
      data, _status_code, _headers = retrieve_payment_intent_with_http_info(payment_intent_id, opts)
      data
    end

    # Retrieve Payment Intent
    # @param payment_intent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentIntentResponse, Integer, Hash)>] PaymentIntentResponse data, response status code and response headers
    def retrieve_payment_intent_with_http_info(payment_intent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentIntentsApi.retrieve_payment_intent ...'
      end
      # verify the required parameter 'payment_intent_id' is set
      if @api_client.config.client_side_validation && payment_intent_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_intent_id' when calling PaymentIntentsApi.retrieve_payment_intent"
      end
      # resource path
      local_var_path = '/v2/payment_intents/{payment_intent_id}'.sub('{' + 'payment_intent_id' + '}', CGI.escape(payment_intent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"PaymentIntentsApi.retrieve_payment_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentIntentsApi#retrieve_payment_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Payment Intent
    # @param payment_intent_id [String] 
    # @param payment_intent_update_request [PaymentIntentUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentIntentResponse]
    def update_payment_intent(payment_intent_id, payment_intent_update_request, opts = {})
      data, _status_code, _headers = update_payment_intent_with_http_info(payment_intent_id, payment_intent_update_request, opts)
      data
    end

    # Update Payment Intent
    # @param payment_intent_id [String] 
    # @param payment_intent_update_request [PaymentIntentUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentIntentResponse, Integer, Hash)>] PaymentIntentResponse data, response status code and response headers
    def update_payment_intent_with_http_info(payment_intent_id, payment_intent_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentIntentsApi.update_payment_intent ...'
      end
      # verify the required parameter 'payment_intent_id' is set
      if @api_client.config.client_side_validation && payment_intent_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_intent_id' when calling PaymentIntentsApi.update_payment_intent"
      end
      # verify the required parameter 'payment_intent_update_request' is set
      if @api_client.config.client_side_validation && payment_intent_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'payment_intent_update_request' when calling PaymentIntentsApi.update_payment_intent"
      end
      # resource path
      local_var_path = '/v2/payment_intents/{payment_intent_id}'.sub('{' + 'payment_intent_id' + '}', CGI.escape(payment_intent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_intent_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"PaymentIntentsApi.update_payment_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentIntentsApi#update_payment_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
