=begin
#PAY.JP v2 API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module PAYJPv2
  class PaymentTransactionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get All Payment Transaction
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @option opts [String] :term_id term ID
    # @option opts [String] :type 取引タイプ
    # @option opts [String] :payment_method_type 支払い方法タイプ
    # @return [PaymentTransactionListResponse]
    def get_all_payment_transaction(opts = {})
      data, _status_code, _headers = get_all_payment_transaction_with_http_info(opts)
      data
    end

    # Get All Payment Transaction
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @option opts [String] :term_id term ID
    # @option opts [String] :type 取引タイプ
    # @option opts [String] :payment_method_type 支払い方法タイプ
    # @return [Array<(PaymentTransactionListResponse, Integer, Hash)>] PaymentTransactionListResponse data, response status code and response headers
    def get_all_payment_transaction_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentTransactionsApi.get_all_payment_transaction ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PaymentTransactionsApi.get_all_payment_transaction, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PaymentTransactionsApi.get_all_payment_transaction, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/payment_transactions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'starting_after'] = opts[:'starting_after'] if !opts[:'starting_after'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?
      query_params[:'term_id'] = opts[:'term_id'] if !opts[:'term_id'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'payment_method_type'] = opts[:'payment_method_type'] if !opts[:'payment_method_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentTransactionListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentTransactionsApi.get_all_payment_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentTransactionsApi#get_all_payment_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Payment Transaction
    # @param payment_transaction_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentTransactionResponse]
    def retrieve_payment_transaction(payment_transaction_id, opts = {})
      data, _status_code, _headers = retrieve_payment_transaction_with_http_info(payment_transaction_id, opts)
      data
    end

    # Retrieve Payment Transaction
    # @param payment_transaction_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentTransactionResponse, Integer, Hash)>] PaymentTransactionResponse data, response status code and response headers
    def retrieve_payment_transaction_with_http_info(payment_transaction_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentTransactionsApi.retrieve_payment_transaction ...'
      end
      # verify the required parameter 'payment_transaction_id' is set
      if @api_client.config.client_side_validation && payment_transaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_transaction_id' when calling PaymentTransactionsApi.retrieve_payment_transaction"
      end
      # resource path
      local_var_path = '/v2/payment_transactions/{payment_transaction_id}'.sub('{' + 'payment_transaction_id' + '}', CGI.escape(payment_transaction_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentTransactionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentTransactionsApi.retrieve_payment_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentTransactionsApi#retrieve_payment_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
