=begin
#PAY.JP v2 API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module PAYJPv2
  class PaymentRefundsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Payment Refund
    # @param payment_refund_create_request [PaymentRefundCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentRefundResponse]
    def create_payment_refund(payment_refund_create_request, opts = {})
      data, _status_code, _headers = create_payment_refund_with_http_info(payment_refund_create_request, opts)
      data
    end

    # Create Payment Refund
    # @param payment_refund_create_request [PaymentRefundCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentRefundResponse, Integer, Hash)>] PaymentRefundResponse data, response status code and response headers
    def create_payment_refund_with_http_info(payment_refund_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentRefundsApi.create_payment_refund ...'
      end
      # verify the required parameter 'payment_refund_create_request' is set
      if @api_client.config.client_side_validation && payment_refund_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'payment_refund_create_request' when calling PaymentRefundsApi.create_payment_refund"
      end
      # resource path
      local_var_path = '/v2/payment_refunds'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_refund_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentRefundResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentRefundsApi.create_payment_refund",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentRefundsApi#create_payment_refund\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get All Payment Refunds
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @return [PaymentRefundListResponse]
    def get_all_payment_refunds(opts = {})
      data, _status_code, _headers = get_all_payment_refunds_with_http_info(opts)
      data
    end

    # Get All Payment Refunds
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @return [Array<(PaymentRefundListResponse, Integer, Hash)>] PaymentRefundListResponse data, response status code and response headers
    def get_all_payment_refunds_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentRefundsApi.get_all_payment_refunds ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PaymentRefundsApi.get_all_payment_refunds, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PaymentRefundsApi.get_all_payment_refunds, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/payment_refunds'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'starting_after'] = opts[:'starting_after'] if !opts[:'starting_after'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentRefundListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentRefundsApi.get_all_payment_refunds",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentRefundsApi#get_all_payment_refunds\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Payment Refund
    # @param payment_refund_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentRefundResponse]
    def retrieve_payment_refund(payment_refund_id, opts = {})
      data, _status_code, _headers = retrieve_payment_refund_with_http_info(payment_refund_id, opts)
      data
    end

    # Retrieve Payment Refund
    # @param payment_refund_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentRefundResponse, Integer, Hash)>] PaymentRefundResponse data, response status code and response headers
    def retrieve_payment_refund_with_http_info(payment_refund_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentRefundsApi.retrieve_payment_refund ...'
      end
      # verify the required parameter 'payment_refund_id' is set
      if @api_client.config.client_side_validation && payment_refund_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_refund_id' when calling PaymentRefundsApi.retrieve_payment_refund"
      end
      # resource path
      local_var_path = '/v2/payment_refunds/{payment_refund_id}'.sub('{' + 'payment_refund_id' + '}', CGI.escape(payment_refund_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentRefundResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentRefundsApi.retrieve_payment_refund",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentRefundsApi#retrieve_payment_refund\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Payment Refund
    # @param payment_refund_id [String] 
    # @param payment_refund_update_request [PaymentRefundUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentRefundResponse]
    def update_payment_refund(payment_refund_id, payment_refund_update_request, opts = {})
      data, _status_code, _headers = update_payment_refund_with_http_info(payment_refund_id, payment_refund_update_request, opts)
      data
    end

    # Update Payment Refund
    # @param payment_refund_id [String] 
    # @param payment_refund_update_request [PaymentRefundUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentRefundResponse, Integer, Hash)>] PaymentRefundResponse data, response status code and response headers
    def update_payment_refund_with_http_info(payment_refund_id, payment_refund_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentRefundsApi.update_payment_refund ...'
      end
      # verify the required parameter 'payment_refund_id' is set
      if @api_client.config.client_side_validation && payment_refund_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_refund_id' when calling PaymentRefundsApi.update_payment_refund"
      end
      # verify the required parameter 'payment_refund_update_request' is set
      if @api_client.config.client_side_validation && payment_refund_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'payment_refund_update_request' when calling PaymentRefundsApi.update_payment_refund"
      end
      # resource path
      local_var_path = '/v2/payment_refunds/{payment_refund_id}'.sub('{' + 'payment_refund_id' + '}', CGI.escape(payment_refund_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_refund_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentRefundResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentRefundsApi.update_payment_refund",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentRefundsApi#update_payment_refund\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
