=begin
#PAY.JP v2 API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require 'cgi'

module PAYJPv2
  class PaymentMethodsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Payment Method
    # @param payment_method_create_request [PaymentMethodCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentMethodResponse]
    def create_payment_method(payment_method_create_request, opts = {})
      data, _status_code, _headers = create_payment_method_with_http_info(payment_method_create_request, opts)
      data
    end

    # Create Payment Method
    # @param payment_method_create_request [PaymentMethodCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentMethodResponse, Integer, Hash)>] PaymentMethodResponse data, response status code and response headers
    def create_payment_method_with_http_info(payment_method_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodsApi.create_payment_method ...'
      end
      # verify the required parameter 'payment_method_create_request' is set
      if @api_client.config.client_side_validation && payment_method_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'payment_method_create_request' when calling PaymentMethodsApi.create_payment_method"
      end
      # resource path
      local_var_path = '/v2/payment_methods'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_method_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentMethodResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"PaymentMethodsApi.create_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodsApi#create_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get All Payment Methods
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [Integer] :offset データ取得を行う開始位置 (default to 0)
    # @return [PaymentMethodListResponse]
    def get_all_payment_methods(opts = {})
      data, _status_code, _headers = get_all_payment_methods_with_http_info(opts)
      data
    end

    # Get All Payment Methods
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [Integer] :offset データ取得を行う開始位置 (default to 0)
    # @return [Array<(PaymentMethodListResponse, Integer, Hash)>] PaymentMethodListResponse data, response status code and response headers
    def get_all_payment_methods_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodsApi.get_all_payment_methods ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PaymentMethodsApi.get_all_payment_methods, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PaymentMethodsApi.get_all_payment_methods, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling PaymentMethodsApi.get_all_payment_methods, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v2/payment_methods'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentMethodListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"PaymentMethodsApi.get_all_payment_methods",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodsApi#get_all_payment_methods\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Payment Method
    # @param payment_method_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentMethodResponse]
    def get_payment_method(payment_method_id, opts = {})
      data, _status_code, _headers = get_payment_method_with_http_info(payment_method_id, opts)
      data
    end

    # Get Payment Method
    # @param payment_method_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentMethodResponse, Integer, Hash)>] PaymentMethodResponse data, response status code and response headers
    def get_payment_method_with_http_info(payment_method_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodsApi.get_payment_method ...'
      end
      # verify the required parameter 'payment_method_id' is set
      if @api_client.config.client_side_validation && payment_method_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_method_id' when calling PaymentMethodsApi.get_payment_method"
      end
      # resource path
      local_var_path = '/v2/payment_methods/{payment_method_id}'.sub('{' + 'payment_method_id' + '}', CGI.escape(payment_method_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentMethodResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"PaymentMethodsApi.get_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodsApi#get_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Payment Method
    # @param payment_method_id [String] 
    # @param payment_method_card_update_request [PaymentMethodCardUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentMethodResponse]
    def update_payment_method(payment_method_id, payment_method_card_update_request, opts = {})
      data, _status_code, _headers = update_payment_method_with_http_info(payment_method_id, payment_method_card_update_request, opts)
      data
    end

    # Update Payment Method
    # @param payment_method_id [String] 
    # @param payment_method_card_update_request [PaymentMethodCardUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentMethodResponse, Integer, Hash)>] PaymentMethodResponse data, response status code and response headers
    def update_payment_method_with_http_info(payment_method_id, payment_method_card_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodsApi.update_payment_method ...'
      end
      # verify the required parameter 'payment_method_id' is set
      if @api_client.config.client_side_validation && payment_method_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_method_id' when calling PaymentMethodsApi.update_payment_method"
      end
      # verify the required parameter 'payment_method_card_update_request' is set
      if @api_client.config.client_side_validation && payment_method_card_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'payment_method_card_update_request' when calling PaymentMethodsApi.update_payment_method"
      end
      # resource path
      local_var_path = '/v2/payment_methods/{payment_method_id}'.sub('{' + 'payment_method_id' + '}', CGI.escape(payment_method_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_method_card_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentMethodResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"PaymentMethodsApi.update_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodsApi#update_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
