=begin
#PAY.JP API v2

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module PAYJPv2
  class PaymentMethodsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Attach Payment Method
    # @param payment_method_id [String] 
    # @param payment_method_attach_request [PaymentMethodAttachRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [PaymentMethodResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def attach_payment_method(payment_method_id, payment_method_attach_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodsApi.attach_payment_method ...'
      end
      # verify the required parameter 'payment_method_id' is set
      if @api_client.config.client_side_validation && payment_method_id.nil?
        raise ArgumentError, "Missing the required parameter 'payment_method_id' when calling PaymentMethodsApi.attach_payment_method"
      end
      # verify the required parameter 'payment_method_attach_request' is set
      if @api_client.config.client_side_validation && payment_method_attach_request.nil?
        raise ArgumentError, "Missing the required parameter 'payment_method_attach_request' when calling PaymentMethodsApi.attach_payment_method"
      end
      # resource path
      local_var_path = '/v2/payment_methods/{payment_method_id}/attach'.sub('{' + 'payment_method_id' + '}', CGI.escape(payment_method_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_method_attach_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentMethodResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentMethodsApi.attach_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodsApi#attach_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end

    # Create Payment Method
    # **このエンドポイントはテストモードでのみ使用できます。**
    # @param payment_method_create_request [PaymentMethodCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [PaymentMethodResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def create_payment_method(payment_method_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodsApi.create_payment_method ...'
      end
      # verify the required parameter 'payment_method_create_request' is set
      if @api_client.config.client_side_validation && payment_method_create_request.nil?
        raise ArgumentError, "Missing the required parameter 'payment_method_create_request' when calling PaymentMethodsApi.create_payment_method"
      end
      # resource path
      local_var_path = '/v2/payment_methods'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_method_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentMethodResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentMethodsApi.create_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodsApi#create_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end

    # Detach Payment Method
    # @param payment_method_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [PaymentMethodResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def detach_payment_method(payment_method_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodsApi.detach_payment_method ...'
      end
      # verify the required parameter 'payment_method_id' is set
      if @api_client.config.client_side_validation && payment_method_id.nil?
        raise ArgumentError, "Missing the required parameter 'payment_method_id' when calling PaymentMethodsApi.detach_payment_method"
      end
      # resource path
      local_var_path = '/v2/payment_methods/{payment_method_id}/detach'.sub('{' + 'payment_method_id' + '}', CGI.escape(payment_method_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentMethodResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentMethodsApi.detach_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodsApi#detach_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end

    # Get All Payment Methods
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [PaymentMethodListResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def get_all_payment_methods(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodsApi.get_all_payment_methods ...'
      end
      if @api_client.config.client_side_validation && !opts[:limit].nil? && opts[:limit] > 100
        raise ArgumentError, 'invalid value for "opts[:limit]" when calling PaymentMethodsApi.get_all_payment_methods, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:limit].nil? && opts[:limit] < 1
        raise ArgumentError, 'invalid value for "opts[:limit]" when calling PaymentMethodsApi.get_all_payment_methods, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/payment_methods'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:limit] = opts[:limit] if !opts[:limit].nil?
      query_params[:starting_after] = opts[:starting_after] if !opts[:starting_after].nil?
      query_params[:ending_before] = opts[:ending_before] if !opts[:ending_before].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentMethodListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentMethodsApi.get_all_payment_methods",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodsApi#get_all_payment_methods\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end

    # Get Payment Method
    # @param payment_method_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [PaymentMethodResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def get_payment_method(payment_method_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodsApi.get_payment_method ...'
      end
      # verify the required parameter 'payment_method_id' is set
      if @api_client.config.client_side_validation && payment_method_id.nil?
        raise ArgumentError, "Missing the required parameter 'payment_method_id' when calling PaymentMethodsApi.get_payment_method"
      end
      # resource path
      local_var_path = '/v2/payment_methods/{payment_method_id}'.sub('{' + 'payment_method_id' + '}', CGI.escape(payment_method_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentMethodResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentMethodsApi.get_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodsApi#get_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end

    # Get Payment Method By Card
    # @param card_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [PaymentMethodResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def get_payment_method_by_card(card_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodsApi.get_payment_method_by_card ...'
      end
      # verify the required parameter 'card_id' is set
      if @api_client.config.client_side_validation && card_id.nil?
        raise ArgumentError, "Missing the required parameter 'card_id' when calling PaymentMethodsApi.get_payment_method_by_card"
      end
      # resource path
      local_var_path = '/v2/payment_methods/cards/{card_id}'.sub('{' + 'card_id' + '}', CGI.escape(card_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentMethodResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentMethodsApi.get_payment_method_by_card",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodsApi#get_payment_method_by_card\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end

    # Update Payment Method
    # @param payment_method_id [String] 
    # @param payment_method_update_request [PaymentMethodUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [PaymentMethodResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def update_payment_method(payment_method_id, payment_method_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodsApi.update_payment_method ...'
      end
      # verify the required parameter 'payment_method_id' is set
      if @api_client.config.client_side_validation && payment_method_id.nil?
        raise ArgumentError, "Missing the required parameter 'payment_method_id' when calling PaymentMethodsApi.update_payment_method"
      end
      # verify the required parameter 'payment_method_update_request' is set
      if @api_client.config.client_side_validation && payment_method_update_request.nil?
        raise ArgumentError, "Missing the required parameter 'payment_method_update_request' when calling PaymentMethodsApi.update_payment_method"
      end
      # resource path
      local_var_path = '/v2/payment_methods/{payment_method_id}'.sub('{' + 'payment_method_id' + '}', CGI.escape(payment_method_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_method_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentMethodResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentMethodsApi.update_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodsApi#update_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end
  end
end
