=begin
#PAY.JP API v2

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module PAYJPv2
  class PaymentDisputesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get All Payment Disputes
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @option opts [String] :payment_flow_id 取得する payment_dispute に紐づく payment_flow の ID
    # @option opts [Array<PaymentDisputeStatus>] :status 取得する payment_dispute のステータス。複数指定可能
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [PaymentDisputeListResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def get_all_payment_disputes(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentDisputesApi.get_all_payment_disputes ...'
      end
      if @api_client.config.client_side_validation && !opts[:limit].nil? && opts[:limit] > 100
        raise ArgumentError, 'invalid value for "opts[:limit]" when calling PaymentDisputesApi.get_all_payment_disputes, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:limit].nil? && opts[:limit] < 1
        raise ArgumentError, 'invalid value for "opts[:limit]" when calling PaymentDisputesApi.get_all_payment_disputes, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/payment_disputes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:limit] = opts[:limit] if !opts[:limit].nil?
      query_params[:starting_after] = opts[:starting_after] if !opts[:starting_after].nil?
      query_params[:ending_before] = opts[:ending_before] if !opts[:ending_before].nil?
      query_params[:payment_flow_id] = opts[:payment_flow_id] if !opts[:payment_flow_id].nil?
      query_params[:status] = @api_client.build_collection_param(opts[:status], :multi) if !opts[:status].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentDisputeListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentDisputesApi.get_all_payment_disputes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentDisputesApi#get_all_payment_disputes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end

    # Get Payment Dispute
    # @param payment_dispute_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [PaymentDisputeResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def get_payment_dispute(payment_dispute_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentDisputesApi.get_payment_dispute ...'
      end
      # verify the required parameter 'payment_dispute_id' is set
      if @api_client.config.client_side_validation && payment_dispute_id.nil?
        raise ArgumentError, "Missing the required parameter 'payment_dispute_id' when calling PaymentDisputesApi.get_payment_dispute"
      end
      # resource path
      local_var_path = '/v2/payment_disputes/{payment_dispute_id}'.sub('{' + 'payment_dispute_id' + '}', CGI.escape(payment_dispute_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentDisputeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PaymentDisputesApi.get_payment_dispute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentDisputesApi#get_payment_dispute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end
  end
end
