=begin
#PAY.JP v2 API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module PAYJPv2
  class PricesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Price
    # @param price_create_request [PriceCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PriceDetailsResponse]
    def create_price(price_create_request, opts = {})
      data, _status_code, _headers = create_price_with_http_info(price_create_request, opts)
      data
    end

    # Create Price
    # @param price_create_request [PriceCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PriceDetailsResponse, Integer, Hash)>] PriceDetailsResponse data, response status code and response headers
    def create_price_with_http_info(price_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricesApi.create_price ...'
      end
      # verify the required parameter 'price_create_request' is set
      if @api_client.config.client_side_validation && price_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'price_create_request' when calling PricesApi.create_price"
      end
      # resource path
      local_var_path = '/v2/prices'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(price_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PriceDetailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PricesApi.create_price",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricesApi#create_price\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get All Prices
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @return [PriceListResponse]
    def get_all_prices(opts = {})
      data, _status_code, _headers = get_all_prices_with_http_info(opts)
      data
    end

    # Get All Prices
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @return [Array<(PriceListResponse, Integer, Hash)>] PriceListResponse data, response status code and response headers
    def get_all_prices_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricesApi.get_all_prices ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PricesApi.get_all_prices, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PricesApi.get_all_prices, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/prices'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'starting_after'] = opts[:'starting_after'] if !opts[:'starting_after'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PriceListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PricesApi.get_all_prices",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricesApi#get_all_prices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Price
    # @param price_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PriceDetailsResponse]
    def get_price(price_id, opts = {})
      data, _status_code, _headers = get_price_with_http_info(price_id, opts)
      data
    end

    # Get Price
    # @param price_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PriceDetailsResponse, Integer, Hash)>] PriceDetailsResponse data, response status code and response headers
    def get_price_with_http_info(price_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricesApi.get_price ...'
      end
      # verify the required parameter 'price_id' is set
      if @api_client.config.client_side_validation && price_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_id' when calling PricesApi.get_price"
      end
      # resource path
      local_var_path = '/v2/prices/{price_id}'.sub('{' + 'price_id' + '}', CGI.escape(price_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PriceDetailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PricesApi.get_price",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricesApi#get_price\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Price
    # @param price_id [String] 
    # @param price_update_request [PriceUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PriceDetailsResponse]
    def update_price(price_id, price_update_request, opts = {})
      data, _status_code, _headers = update_price_with_http_info(price_id, price_update_request, opts)
      data
    end

    # Update Price
    # @param price_id [String] 
    # @param price_update_request [PriceUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PriceDetailsResponse, Integer, Hash)>] PriceDetailsResponse data, response status code and response headers
    def update_price_with_http_info(price_id, price_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricesApi.update_price ...'
      end
      # verify the required parameter 'price_id' is set
      if @api_client.config.client_side_validation && price_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_id' when calling PricesApi.update_price"
      end
      # verify the required parameter 'price_update_request' is set
      if @api_client.config.client_side_validation && price_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'price_update_request' when calling PricesApi.update_price"
      end
      # resource path
      local_var_path = '/v2/prices/{price_id}'.sub('{' + 'price_id' + '}', CGI.escape(price_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(price_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PriceDetailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"PricesApi.update_price",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricesApi#update_price\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
