=begin
#PAY.JP v2 API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require 'cgi'

module PAYJPv2
  class ProductsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Product
    # @param product_create_request [ProductCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ProductDetailsResponse]
    def create_product(product_create_request, opts = {})
      data, _status_code, _headers = create_product_with_http_info(product_create_request, opts)
      data
    end

    # Create Product
    # @param product_create_request [ProductCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductDetailsResponse, Integer, Hash)>] ProductDetailsResponse data, response status code and response headers
    def create_product_with_http_info(product_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.create_product ...'
      end
      # verify the required parameter 'product_create_request' is set
      if @api_client.config.client_side_validation && product_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'product_create_request' when calling ProductsApi.create_product"
      end
      # resource path
      local_var_path = '/v2/products'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(product_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProductDetailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"ProductsApi.create_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#create_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Product
    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProductDeletedResponse]
    def delete_product(product_id, opts = {})
      data, _status_code, _headers = delete_product_with_http_info(product_id, opts)
      data
    end

    # Delete Product
    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductDeletedResponse, Integer, Hash)>] ProductDeletedResponse data, response status code and response headers
    def delete_product_with_http_info(product_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.delete_product ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ProductsApi.delete_product"
      end
      # resource path
      local_var_path = '/v2/products/{product_id}'.sub('{' + 'product_id' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProductDeletedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"ProductsApi.delete_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#delete_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get All Products
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [Integer] :offset データ取得を行う開始位置 (default to 0)
    # @return [ProductListResponse]
    def get_all_products(opts = {})
      data, _status_code, _headers = get_all_products_with_http_info(opts)
      data
    end

    # Get All Products
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [Integer] :offset データ取得を行う開始位置 (default to 0)
    # @return [Array<(ProductListResponse, Integer, Hash)>] ProductListResponse data, response status code and response headers
    def get_all_products_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.get_all_products ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ProductsApi.get_all_products, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ProductsApi.get_all_products, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ProductsApi.get_all_products, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v2/products'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProductListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"ProductsApi.get_all_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#get_all_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Product
    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProductDetailsResponse]
    def get_product(product_id, opts = {})
      data, _status_code, _headers = get_product_with_http_info(product_id, opts)
      data
    end

    # Get Product
    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductDetailsResponse, Integer, Hash)>] ProductDetailsResponse data, response status code and response headers
    def get_product_with_http_info(product_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.get_product ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ProductsApi.get_product"
      end
      # resource path
      local_var_path = '/v2/products/{product_id}'.sub('{' + 'product_id' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProductDetailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"ProductsApi.get_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#get_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Product
    # @param product_id [String] 
    # @param product_update_request [ProductUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ProductDetailsResponse]
    def update_product(product_id, product_update_request, opts = {})
      data, _status_code, _headers = update_product_with_http_info(product_id, product_update_request, opts)
      data
    end

    # Update Product
    # @param product_id [String] 
    # @param product_update_request [ProductUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductDetailsResponse, Integer, Hash)>] ProductDetailsResponse data, response status code and response headers
    def update_product_with_http_info(product_id, product_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.update_product ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ProductsApi.update_product"
      end
      # verify the required parameter 'product_update_request' is set
      if @api_client.config.client_side_validation && product_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'product_update_request' when calling ProductsApi.update_product"
      end
      # resource path
      local_var_path = '/v2/products/{product_id}'.sub('{' + 'product_id' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(product_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProductDetailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"ProductsApi.update_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#update_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
