=begin
#PAY.JP v2 API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require 'cgi'

module PAYJPv2
  class RefundsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel Refund
    # @param refund_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RefundResponse]
    def cancel_refund(refund_id, opts = {})
      data, _status_code, _headers = cancel_refund_with_http_info(refund_id, opts)
      data
    end

    # Cancel Refund
    # @param refund_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RefundResponse, Integer, Hash)>] RefundResponse data, response status code and response headers
    def cancel_refund_with_http_info(refund_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RefundsApi.cancel_refund ...'
      end
      # verify the required parameter 'refund_id' is set
      if @api_client.config.client_side_validation && refund_id.nil?
        fail ArgumentError, "Missing the required parameter 'refund_id' when calling RefundsApi.cancel_refund"
      end
      # resource path
      local_var_path = '/v2/refunds/{refund_id}/cancel'.sub('{' + 'refund_id' + '}', CGI.escape(refund_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RefundResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"RefundsApi.cancel_refund",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefundsApi#cancel_refund\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Refund
    # @param refund_create_request [RefundCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RefundResponse]
    def create_refund(refund_create_request, opts = {})
      data, _status_code, _headers = create_refund_with_http_info(refund_create_request, opts)
      data
    end

    # Create Refund
    # @param refund_create_request [RefundCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RefundResponse, Integer, Hash)>] RefundResponse data, response status code and response headers
    def create_refund_with_http_info(refund_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RefundsApi.create_refund ...'
      end
      # verify the required parameter 'refund_create_request' is set
      if @api_client.config.client_side_validation && refund_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'refund_create_request' when calling RefundsApi.create_refund"
      end
      # resource path
      local_var_path = '/v2/refunds'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(refund_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RefundResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"RefundsApi.create_refund",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefundsApi#create_refund\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get All Refunds
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [Integer] :offset データ取得を行う開始位置 (default to 0)
    # @return [RefundListResponse]
    def get_all_refunds(opts = {})
      data, _status_code, _headers = get_all_refunds_with_http_info(opts)
      data
    end

    # Get All Refunds
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [Integer] :offset データ取得を行う開始位置 (default to 0)
    # @return [Array<(RefundListResponse, Integer, Hash)>] RefundListResponse data, response status code and response headers
    def get_all_refunds_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RefundsApi.get_all_refunds ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RefundsApi.get_all_refunds, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RefundsApi.get_all_refunds, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling RefundsApi.get_all_refunds, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v2/refunds'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RefundListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"RefundsApi.get_all_refunds",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefundsApi#get_all_refunds\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Refund
    # @param refund_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RefundResponse]
    def retrieve_refund(refund_id, opts = {})
      data, _status_code, _headers = retrieve_refund_with_http_info(refund_id, opts)
      data
    end

    # Retrieve Refund
    # @param refund_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RefundResponse, Integer, Hash)>] RefundResponse data, response status code and response headers
    def retrieve_refund_with_http_info(refund_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RefundsApi.retrieve_refund ...'
      end
      # verify the required parameter 'refund_id' is set
      if @api_client.config.client_side_validation && refund_id.nil?
        fail ArgumentError, "Missing the required parameter 'refund_id' when calling RefundsApi.retrieve_refund"
      end
      # resource path
      local_var_path = '/v2/refunds/{refund_id}'.sub('{' + 'refund_id' + '}', CGI.escape(refund_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RefundResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"RefundsApi.retrieve_refund",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefundsApi#retrieve_refund\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Refund
    # @param refund_id [String] 
    # @param payment_refund_update_request [PaymentRefundUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RefundResponse]
    def update_refund(refund_id, payment_refund_update_request, opts = {})
      data, _status_code, _headers = update_refund_with_http_info(refund_id, payment_refund_update_request, opts)
      data
    end

    # Update Refund
    # @param refund_id [String] 
    # @param payment_refund_update_request [PaymentRefundUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RefundResponse, Integer, Hash)>] RefundResponse data, response status code and response headers
    def update_refund_with_http_info(refund_id, payment_refund_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RefundsApi.update_refund ...'
      end
      # verify the required parameter 'refund_id' is set
      if @api_client.config.client_side_validation && refund_id.nil?
        fail ArgumentError, "Missing the required parameter 'refund_id' when calling RefundsApi.update_refund"
      end
      # verify the required parameter 'payment_refund_update_request' is set
      if @api_client.config.client_side_validation && payment_refund_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'payment_refund_update_request' when calling RefundsApi.update_refund"
      end
      # resource path
      local_var_path = '/v2/refunds/{refund_id}'.sub('{' + 'refund_id' + '}', CGI.escape(refund_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_refund_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RefundResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"RefundsApi.update_refund",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefundsApi#update_refund\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
