=begin
#PAY.JP v2 API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module PAYJPv2
  class SetupIntentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel Setup Intent
    # @param setup_intent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [SetupIntentCancelRequest] :setup_intent_cancel_request 
    # @return [SetupIntentResponse]
    def cancel_setup_intent(setup_intent_id, opts = {})
      data, _status_code, _headers = cancel_setup_intent_with_http_info(setup_intent_id, opts)
      data
    end

    # Cancel Setup Intent
    # @param setup_intent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [SetupIntentCancelRequest] :setup_intent_cancel_request 
    # @return [Array<(SetupIntentResponse, Integer, Hash)>] SetupIntentResponse data, response status code and response headers
    def cancel_setup_intent_with_http_info(setup_intent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupIntentsApi.cancel_setup_intent ...'
      end
      # verify the required parameter 'setup_intent_id' is set
      if @api_client.config.client_side_validation && setup_intent_id.nil?
        fail ArgumentError, "Missing the required parameter 'setup_intent_id' when calling SetupIntentsApi.cancel_setup_intent"
      end
      # resource path
      local_var_path = '/v2/setup_intents/{setup_intent_id}/cancel'.sub('{' + 'setup_intent_id' + '}', CGI.escape(setup_intent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'setup_intent_cancel_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SetupIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"SetupIntentsApi.cancel_setup_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupIntentsApi#cancel_setup_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Confirm Setup Intent
    # @param setup_intent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [SetupIntentConfirmRequest] :setup_intent_confirm_request 
    # @return [SetupIntentResponse]
    def confirm_setup_intent(setup_intent_id, opts = {})
      data, _status_code, _headers = confirm_setup_intent_with_http_info(setup_intent_id, opts)
      data
    end

    # Confirm Setup Intent
    # @param setup_intent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [SetupIntentConfirmRequest] :setup_intent_confirm_request 
    # @return [Array<(SetupIntentResponse, Integer, Hash)>] SetupIntentResponse data, response status code and response headers
    def confirm_setup_intent_with_http_info(setup_intent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupIntentsApi.confirm_setup_intent ...'
      end
      # verify the required parameter 'setup_intent_id' is set
      if @api_client.config.client_side_validation && setup_intent_id.nil?
        fail ArgumentError, "Missing the required parameter 'setup_intent_id' when calling SetupIntentsApi.confirm_setup_intent"
      end
      # resource path
      local_var_path = '/v2/setup_intents/{setup_intent_id}/confirm'.sub('{' + 'setup_intent_id' + '}', CGI.escape(setup_intent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'setup_intent_confirm_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SetupIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"SetupIntentsApi.confirm_setup_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupIntentsApi#confirm_setup_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Setup Intent
    # @param [Hash] opts the optional parameters
    # @option opts [SetupIntentCreateRequest] :setup_intent_create_request 
    # @return [SetupIntentResponse]
    def create_setup_intent(opts = {})
      data, _status_code, _headers = create_setup_intent_with_http_info(opts)
      data
    end

    # Create Setup Intent
    # @param [Hash] opts the optional parameters
    # @option opts [SetupIntentCreateRequest] :setup_intent_create_request 
    # @return [Array<(SetupIntentResponse, Integer, Hash)>] SetupIntentResponse data, response status code and response headers
    def create_setup_intent_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupIntentsApi.create_setup_intent ...'
      end
      # resource path
      local_var_path = '/v2/setup_intents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'setup_intent_create_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SetupIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"SetupIntentsApi.create_setup_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupIntentsApi#create_setup_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get All Setup Intent
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [Integer] :offset データ取得を行う開始位置 (default to 0)
    # @return [SetupIntentListResponse]
    def get_all_setup_intent(opts = {})
      data, _status_code, _headers = get_all_setup_intent_with_http_info(opts)
      data
    end

    # Get All Setup Intent
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [Integer] :offset データ取得を行う開始位置 (default to 0)
    # @return [Array<(SetupIntentListResponse, Integer, Hash)>] SetupIntentListResponse data, response status code and response headers
    def get_all_setup_intent_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupIntentsApi.get_all_setup_intent ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SetupIntentsApi.get_all_setup_intent, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SetupIntentsApi.get_all_setup_intent, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling SetupIntentsApi.get_all_setup_intent, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v2/setup_intents'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SetupIntentListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"SetupIntentsApi.get_all_setup_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupIntentsApi#get_all_setup_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Setup Intent
    # @param setup_intent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SetupIntentResponse]
    def retrieve_setup_intent(setup_intent_id, opts = {})
      data, _status_code, _headers = retrieve_setup_intent_with_http_info(setup_intent_id, opts)
      data
    end

    # Retrieve Setup Intent
    # @param setup_intent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SetupIntentResponse, Integer, Hash)>] SetupIntentResponse data, response status code and response headers
    def retrieve_setup_intent_with_http_info(setup_intent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupIntentsApi.retrieve_setup_intent ...'
      end
      # verify the required parameter 'setup_intent_id' is set
      if @api_client.config.client_side_validation && setup_intent_id.nil?
        fail ArgumentError, "Missing the required parameter 'setup_intent_id' when calling SetupIntentsApi.retrieve_setup_intent"
      end
      # resource path
      local_var_path = '/v2/setup_intents/{setup_intent_id}'.sub('{' + 'setup_intent_id' + '}', CGI.escape(setup_intent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SetupIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"SetupIntentsApi.retrieve_setup_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupIntentsApi#retrieve_setup_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Setup Intent
    # @param setup_intent_id [String] 
    # @param setup_intent_update_request [SetupIntentUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SetupIntentResponse]
    def update_setup_intent(setup_intent_id, setup_intent_update_request, opts = {})
      data, _status_code, _headers = update_setup_intent_with_http_info(setup_intent_id, setup_intent_update_request, opts)
      data
    end

    # Update Setup Intent
    # @param setup_intent_id [String] 
    # @param setup_intent_update_request [SetupIntentUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SetupIntentResponse, Integer, Hash)>] SetupIntentResponse data, response status code and response headers
    def update_setup_intent_with_http_info(setup_intent_id, setup_intent_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupIntentsApi.update_setup_intent ...'
      end
      # verify the required parameter 'setup_intent_id' is set
      if @api_client.config.client_side_validation && setup_intent_id.nil?
        fail ArgumentError, "Missing the required parameter 'setup_intent_id' when calling SetupIntentsApi.update_setup_intent"
      end
      # verify the required parameter 'setup_intent_update_request' is set
      if @api_client.config.client_side_validation && setup_intent_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'setup_intent_update_request' when calling SetupIntentsApi.update_setup_intent"
      end
      # resource path
      local_var_path = '/v2/setup_intents/{setup_intent_id}'.sub('{' + 'setup_intent_id' + '}', CGI.escape(setup_intent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(setup_intent_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SetupIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader']

      new_options = opts.merge(
        :operation => :"SetupIntentsApi.update_setup_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupIntentsApi#update_setup_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
