=begin
#PAY.JP v2 API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module PAYJPv2
  class SetupFlowsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel Setup Flow
    # @param setup_flow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [SetupFlowCancelRequest] :setup_flow_cancel_request 
    # @return [SetupFlowResponse]
    def cancel_setup_flow(setup_flow_id, opts = {})
      data, _status_code, _headers = cancel_setup_flow_with_http_info(setup_flow_id, opts)
      data
    end

    # Cancel Setup Flow
    # @param setup_flow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [SetupFlowCancelRequest] :setup_flow_cancel_request 
    # @return [Array<(SetupFlowResponse, Integer, Hash)>] SetupFlowResponse data, response status code and response headers
    def cancel_setup_flow_with_http_info(setup_flow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupFlowsApi.cancel_setup_flow ...'
      end
      # verify the required parameter 'setup_flow_id' is set
      if @api_client.config.client_side_validation && setup_flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'setup_flow_id' when calling SetupFlowsApi.cancel_setup_flow"
      end
      # resource path
      local_var_path = '/v2/setup_flows/{setup_flow_id}/cancel'.sub('{' + 'setup_flow_id' + '}', CGI.escape(setup_flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'setup_flow_cancel_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SetupFlowResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"SetupFlowsApi.cancel_setup_flow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupFlowsApi#cancel_setup_flow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Confirm Setup Flow
    # @param setup_flow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [SetupFlowConfirmRequest] :setup_flow_confirm_request 
    # @return [SetupFlowResponse]
    def confirm_setup_flow(setup_flow_id, opts = {})
      data, _status_code, _headers = confirm_setup_flow_with_http_info(setup_flow_id, opts)
      data
    end

    # Confirm Setup Flow
    # @param setup_flow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [SetupFlowConfirmRequest] :setup_flow_confirm_request 
    # @return [Array<(SetupFlowResponse, Integer, Hash)>] SetupFlowResponse data, response status code and response headers
    def confirm_setup_flow_with_http_info(setup_flow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupFlowsApi.confirm_setup_flow ...'
      end
      # verify the required parameter 'setup_flow_id' is set
      if @api_client.config.client_side_validation && setup_flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'setup_flow_id' when calling SetupFlowsApi.confirm_setup_flow"
      end
      # resource path
      local_var_path = '/v2/setup_flows/{setup_flow_id}/confirm'.sub('{' + 'setup_flow_id' + '}', CGI.escape(setup_flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'setup_flow_confirm_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SetupFlowResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"SetupFlowsApi.confirm_setup_flow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupFlowsApi#confirm_setup_flow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Setup Flow
    # @param [Hash] opts the optional parameters
    # @option opts [SetupFlowCreateRequest] :setup_flow_create_request 
    # @return [SetupFlowResponse]
    def create_setup_flow(opts = {})
      data, _status_code, _headers = create_setup_flow_with_http_info(opts)
      data
    end

    # Create Setup Flow
    # @param [Hash] opts the optional parameters
    # @option opts [SetupFlowCreateRequest] :setup_flow_create_request 
    # @return [Array<(SetupFlowResponse, Integer, Hash)>] SetupFlowResponse data, response status code and response headers
    def create_setup_flow_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupFlowsApi.create_setup_flow ...'
      end
      # resource path
      local_var_path = '/v2/setup_flows'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'setup_flow_create_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SetupFlowResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"SetupFlowsApi.create_setup_flow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupFlowsApi#create_setup_flow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get All Setup Flow
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @return [SetupFlowListResponse]
    def get_all_setup_flow(opts = {})
      data, _status_code, _headers = get_all_setup_flow_with_http_info(opts)
      data
    end

    # Get All Setup Flow
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @return [Array<(SetupFlowListResponse, Integer, Hash)>] SetupFlowListResponse data, response status code and response headers
    def get_all_setup_flow_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupFlowsApi.get_all_setup_flow ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SetupFlowsApi.get_all_setup_flow, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SetupFlowsApi.get_all_setup_flow, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/setup_flows'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'starting_after'] = opts[:'starting_after'] if !opts[:'starting_after'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SetupFlowListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"SetupFlowsApi.get_all_setup_flow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupFlowsApi#get_all_setup_flow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Setup Flow
    # @param setup_flow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SetupFlowResponse]
    def retrieve_setup_flow(setup_flow_id, opts = {})
      data, _status_code, _headers = retrieve_setup_flow_with_http_info(setup_flow_id, opts)
      data
    end

    # Retrieve Setup Flow
    # @param setup_flow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SetupFlowResponse, Integer, Hash)>] SetupFlowResponse data, response status code and response headers
    def retrieve_setup_flow_with_http_info(setup_flow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupFlowsApi.retrieve_setup_flow ...'
      end
      # verify the required parameter 'setup_flow_id' is set
      if @api_client.config.client_side_validation && setup_flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'setup_flow_id' when calling SetupFlowsApi.retrieve_setup_flow"
      end
      # resource path
      local_var_path = '/v2/setup_flows/{setup_flow_id}'.sub('{' + 'setup_flow_id' + '}', CGI.escape(setup_flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SetupFlowResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"SetupFlowsApi.retrieve_setup_flow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupFlowsApi#retrieve_setup_flow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Setup Flow
    # @param setup_flow_id [String] 
    # @param setup_flow_update_request [SetupFlowUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SetupFlowResponse]
    def update_setup_flow(setup_flow_id, setup_flow_update_request, opts = {})
      data, _status_code, _headers = update_setup_flow_with_http_info(setup_flow_id, setup_flow_update_request, opts)
      data
    end

    # Update Setup Flow
    # @param setup_flow_id [String] 
    # @param setup_flow_update_request [SetupFlowUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SetupFlowResponse, Integer, Hash)>] SetupFlowResponse data, response status code and response headers
    def update_setup_flow_with_http_info(setup_flow_id, setup_flow_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupFlowsApi.update_setup_flow ...'
      end
      # verify the required parameter 'setup_flow_id' is set
      if @api_client.config.client_side_validation && setup_flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'setup_flow_id' when calling SetupFlowsApi.update_setup_flow"
      end
      # verify the required parameter 'setup_flow_update_request' is set
      if @api_client.config.client_side_validation && setup_flow_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'setup_flow_update_request' when calling SetupFlowsApi.update_setup_flow"
      end
      # resource path
      local_var_path = '/v2/setup_flows/{setup_flow_id}'.sub('{' + 'setup_flow_id' + '}', CGI.escape(setup_flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(setup_flow_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SetupFlowResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"SetupFlowsApi.update_setup_flow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupFlowsApi#update_setup_flow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
