=begin
#PAY.JP API v2

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module PAYJPv2
  class StatementsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Statement Url
    # @param statement_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [StatementURLResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def create_statement_url(statement_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatementsApi.create_statement_url ...'
      end
      # verify the required parameter 'statement_id' is set
      if @api_client.config.client_side_validation && statement_id.nil?
        raise ArgumentError, "Missing the required parameter 'statement_id' when calling StatementsApi.create_statement_url"
      end
      # resource path
      local_var_path = '/v2/statements/{statement_id}/statement_urls'.sub('{' + 'statement_id' + '}', CGI.escape(statement_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StatementURLResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"StatementsApi.create_statement_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatementsApi#create_statement_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end

    # Get All Statements
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :since 指定した日付以降のデータを取得
    # @option opts [Time] :_until 指定した日付以前のデータを取得
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @option opts [StatementType] :type 明細タイプでフィルタ
    # @option opts [String] :term_id 集計区間 ID でフィルタ
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [StatementListResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def get_all_statements(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatementsApi.get_all_statements ...'
      end
      if @api_client.config.client_side_validation && !opts[:limit].nil? && opts[:limit] > 100
        raise ArgumentError, 'invalid value for "opts[:limit]" when calling StatementsApi.get_all_statements, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:limit].nil? && opts[:limit] < 1
        raise ArgumentError, 'invalid value for "opts[:limit]" when calling StatementsApi.get_all_statements, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/statements'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:since] = opts[:since] if !opts[:since].nil?
      query_params[:until] = opts[:_until] if !opts[:_until].nil?
      query_params[:limit] = opts[:limit] if !opts[:limit].nil?
      query_params[:starting_after] = opts[:starting_after] if !opts[:starting_after].nil?
      query_params[:ending_before] = opts[:ending_before] if !opts[:ending_before].nil?
      query_params[:type] = opts[:type] if !opts[:type].nil?
      query_params[:term_id] = opts[:term_id] if !opts[:term_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StatementListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"StatementsApi.get_all_statements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatementsApi#get_all_statements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end

    # Get Statement
    # @param statement_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Idempotency key for the request
    # @option opts [Boolean] :include_http_info If true, returns [data, status_code, headers] instead of just data
    # @return [StatementResponse, Array] Returns data or [data, status_code, headers] if include_http_info is true
    def get_statement(statement_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatementsApi.get_statement ...'
      end
      # verify the required parameter 'statement_id' is set
      if @api_client.config.client_side_validation && statement_id.nil?
        raise ArgumentError, "Missing the required parameter 'statement_id' when calling StatementsApi.get_statement"
      end
      # resource path
      local_var_path = '/v2/statements/{statement_id}'.sub('{' + 'statement_id' + '}', CGI.escape(statement_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Idempotency-Key'] = opts[:idempotency_key] if opts[:idempotency_key]
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StatementResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"StatementsApi.get_statement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatementsApi#get_statement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      if opts[:include_http_info]
        [data, status_code, headers]
      else
        data
      end
    end
  end
end
