=begin
#PAY.JP v2 API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module PAYJPv2
  class TaxRatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Tax Rate
    # @param tax_rate_create_request [TaxRateCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TaxRateDetailsResponse]
    def create_tax_rate(tax_rate_create_request, opts = {})
      data, _status_code, _headers = create_tax_rate_with_http_info(tax_rate_create_request, opts)
      data
    end

    # Create Tax Rate
    # @param tax_rate_create_request [TaxRateCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaxRateDetailsResponse, Integer, Hash)>] TaxRateDetailsResponse data, response status code and response headers
    def create_tax_rate_with_http_info(tax_rate_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxRatesApi.create_tax_rate ...'
      end
      # verify the required parameter 'tax_rate_create_request' is set
      if @api_client.config.client_side_validation && tax_rate_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'tax_rate_create_request' when calling TaxRatesApi.create_tax_rate"
      end
      # resource path
      local_var_path = '/v2/tax_rates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tax_rate_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TaxRateDetailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"TaxRatesApi.create_tax_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxRatesApi#create_tax_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get All Tax Rates
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @return [TaxRateListResponse]
    def get_all_tax_rates(opts = {})
      data, _status_code, _headers = get_all_tax_rates_with_http_info(opts)
      data
    end

    # Get All Tax Rates
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [String] :starting_after このIDより後のデータを取得
    # @option opts [String] :ending_before このIDより前のデータを取得
    # @return [Array<(TaxRateListResponse, Integer, Hash)>] TaxRateListResponse data, response status code and response headers
    def get_all_tax_rates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxRatesApi.get_all_tax_rates ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TaxRatesApi.get_all_tax_rates, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TaxRatesApi.get_all_tax_rates, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/tax_rates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'starting_after'] = opts[:'starting_after'] if !opts[:'starting_after'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaxRateListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"TaxRatesApi.get_all_tax_rates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxRatesApi#get_all_tax_rates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Tax Rate
    # @param tax_rate_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TaxRateDetailsResponse]
    def get_tax_rate(tax_rate_id, opts = {})
      data, _status_code, _headers = get_tax_rate_with_http_info(tax_rate_id, opts)
      data
    end

    # Get Tax Rate
    # @param tax_rate_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaxRateDetailsResponse, Integer, Hash)>] TaxRateDetailsResponse data, response status code and response headers
    def get_tax_rate_with_http_info(tax_rate_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxRatesApi.get_tax_rate ...'
      end
      # verify the required parameter 'tax_rate_id' is set
      if @api_client.config.client_side_validation && tax_rate_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_rate_id' when calling TaxRatesApi.get_tax_rate"
      end
      # resource path
      local_var_path = '/v2/tax_rates/{tax_rate_id}'.sub('{' + 'tax_rate_id' + '}', CGI.escape(tax_rate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaxRateDetailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"TaxRatesApi.get_tax_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxRatesApi#get_tax_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Tax Rate
    # @param tax_rate_id [String] 
    # @param tax_rate_update_request [TaxRateUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TaxRateDetailsResponse]
    def update_tax_rate(tax_rate_id, tax_rate_update_request, opts = {})
      data, _status_code, _headers = update_tax_rate_with_http_info(tax_rate_id, tax_rate_update_request, opts)
      data
    end

    # Update Tax Rate
    # @param tax_rate_id [String] 
    # @param tax_rate_update_request [TaxRateUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaxRateDetailsResponse, Integer, Hash)>] TaxRateDetailsResponse data, response status code and response headers
    def update_tax_rate_with_http_info(tax_rate_id, tax_rate_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxRatesApi.update_tax_rate ...'
      end
      # verify the required parameter 'tax_rate_id' is set
      if @api_client.config.client_side_validation && tax_rate_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_rate_id' when calling TaxRatesApi.update_tax_rate"
      end
      # verify the required parameter 'tax_rate_update_request' is set
      if @api_client.config.client_side_validation && tax_rate_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'tax_rate_update_request' when calling TaxRatesApi.update_tax_rate"
      end
      # resource path
      local_var_path = '/v2/tax_rates/{tax_rate_id}'.sub('{' + 'tax_rate_id' + '}', CGI.escape(tax_rate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tax_rate_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TaxRateDetailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"TaxRatesApi.update_tax_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxRatesApi#update_tax_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
