=begin
#PAY.JP v2 API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module PAYJPv2
  class TermsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get All Term
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [Integer] :offset データ取得を行う開始位置 (default to 0)
    # @option opts [Time] :since_start_at start_atが指定した日付以降のデータを取得
    # @option opts [Time] :until_start_at start_atが指定した日付以前のデータを取得
    # @return [TermListResponse]
    def get_all_term(opts = {})
      data, _status_code, _headers = get_all_term_with_http_info(opts)
      data
    end

    # Get All Term
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 取得するデータの最大件数 (default to 10)
    # @option opts [Integer] :offset データ取得を行う開始位置 (default to 0)
    # @option opts [Time] :since_start_at start_atが指定した日付以降のデータを取得
    # @option opts [Time] :until_start_at start_atが指定した日付以前のデータを取得
    # @return [Array<(TermListResponse, Integer, Hash)>] TermListResponse data, response status code and response headers
    def get_all_term_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TermsApi.get_all_term ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TermsApi.get_all_term, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TermsApi.get_all_term, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling TermsApi.get_all_term, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v2/terms'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'since_start_at'] = opts[:'since_start_at'] if !opts[:'since_start_at'].nil?
      query_params[:'until_start_at'] = opts[:'until_start_at'] if !opts[:'until_start_at'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TermListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"TermsApi.get_all_term",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TermsApi#get_all_term\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Term
    # @param term_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TermResponse]
    def retrieve_term(term_id, opts = {})
      data, _status_code, _headers = retrieve_term_with_http_info(term_id, opts)
      data
    end

    # Retrieve Term
    # @param term_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TermResponse, Integer, Hash)>] TermResponse data, response status code and response headers
    def retrieve_term_with_http_info(term_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TermsApi.retrieve_term ...'
      end
      # verify the required parameter 'term_id' is set
      if @api_client.config.client_side_validation && term_id.nil?
        fail ArgumentError, "Missing the required parameter 'term_id' when calling TermsApi.retrieve_term"
      end
      # resource path
      local_var_path = '/v2/terms/{term_id}'.sub('{' + 'term_id' + '}', CGI.escape(term_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TermResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBasic', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"TermsApi.retrieve_term",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TermsApi#retrieve_term\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
